$font-stack: Helvetica, sans-serif;
$primary-color: #ffffff;
$bg-color: #2c3e50;
$hover-color: #16a085;

body{
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg-color;
}

#search {
  float: left; 
  max-width: 80%;
}

#hits{
  overflow: hidden;
  background: white;

  div{
    margin: 0;
    padding: 0;
    color: $bg-color;
  }


}